.inner-container {
    background-color: blueviolet;
    width: 40vw;
    height: 60vh;
    margin: 140px 450px;
    border-radius: 8px;
}
<<<<<<< HEAD
=======
.game-intro {
    margin-left: 50px;
}
>>>>>>> fee73a4f18d8798c33f763fd702687a58c80aea2
