html {
    background-color: black;
}
.title {
    color: white;
    text-align: center;
    font-size: 50px;
}
.container {
    background-color: green;
}
.AnswerBox {
    background-color: blueviolet;
}
.AnswerChoices {
    background-color: cyan;
    color:grey;
}
.QuestionBox {
    background-color: orange;
}